<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-toro-sal/blob/main/SEMANA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SEMANA 2

In [ ]:
print(type("hello"))

<class 'str'>

In [ ]:
x=1
print(type(x))

<class 'int'>

In [ ]:
def hello():
  print("hello")

X=1
print(type(hello))

<class 'function'>

In [ ]:
#metodo funcion que esta dentro de una clase
string="hello"
print(string.upper())

HELLO

In [ ]:
class Dog:
  def bark(self): # self 
    print("bark")
d=Dog()
d.bark()
print(type(d))

bark
<class '__main__.Dog'>

In [ ]:
class Dog:
  def add_one(self,x):
    return x+1

  def bark(self): # self 
    print("bark")
d=Dog()
d.bark()
print(d.add_one(5))
print(type(d))

bark
6
<class '__main__.Dog'>

In [ ]:
class Dog:
  def __init__(self, name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
 

  
D=Dog("Tim",34)
print(D.get_age())
D2=Dog("Bill",12)
print(D2.get_age())

34
12

In [ ]:
class Dog:
  def __init__(self, name,age):
    self.name=name
    self.age=age
  def get_name(self):
    return self.name
  def get_age(self):
    return self.age
  def set_age(self,age):
    self.age=age

D=Dog("Tim",34)
D.set_age(23)
print(D.get_age())

23

In [ ]:
class student:
  def __init__(self,name,age, grade):
    self.name= name
    self.age=age
    self.grade=grade # 0- 100
  def get_grade(self):
    return self.grade
class Course:
  def __init__(self,name,max_students):
    self.name = name
    self.maxstudents= max_students
    self.students=[]
  def add_student(self,student):
    if len(self.students)< self.maxstudents:
      self.students.append(student)
      return True
    return False
  def get_average_grade(self):
    value =0
    for student in self.students:
      value += student.get_grade()
    return value/len(self.students)
s1=student("Tim",19,95)
s2=student("joe",19,75)
s3=student("carl",19,65)
course=Course("science",2)
course.add_student(s1)
course.add_student(s2)
course.add_student(s3)
print(course.students[0].name)
print(course.get_average_grade())
print(course.add_student(s3))

Tim
85.0
False

In [ ]:
class Pet:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def show (self):
    print(f"I am {self.name} and i am {self.age} years old)")
  def speak(self):
    print ("i dont know what to say")
class Cat(Pet):
  def __init__(self,name,age,color):
    super().__init__(name,age)#define referencia classe pricipal despues el metodo, despues atributos
    self.color=color
  def speak(self):
    print ("meow")
  def show (self):
    print(f"I am {self.name} and i am {self.age} years old) and I am {self.color}")
class dog(Pet):
  def speak(self):
    print("bark")
class fish(Pet):
  pass
p = Pet("tim",19)
p.speak()
c=Cat("bill",34, "blue")
c.speak()
c.show()
d=dog("carl",25)
d.speak()
f=fish("bubles",10)
f.speak()

i dont know what to say
meow
I am bill and i am 34 years old) and I am blue
bark
i dont know what to say

# Modulo 4

In [ ]:
example1="example1.txt"
file=open(example1,"r")
file.name
file .mode
filecontent=file.read()
filecontent
print(filecontent)
type(filecontent)
file.close()

this is line 1
this is line 2
this is line 3

In [ ]:
with open(example1,"r")as file1:
  Filecontent =file1.read()
  print(Filecontent)
  file1.closed

this is line 1
this is line 2
this is line 3

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))

this

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

this
 is
line 1

this is line 2

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

this is line 1
t
his i
s line 2

In [ ]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: this is line 1

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

this is line 1

this is line 2
this

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  this is line 1

Iteration 1 :  this is line 2

Iteration 2 :  this is line 3

In [ ]:
with open(example1, "r") as file1:
    FileasList = file1.readlines()
FileasList[0]

'this is line 1\n'

In [3]:
exmp2 = "example2.txt"
with open(exmp2,"w") as writefile:
  writefile.write("esta es la linea AA")
  with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [6]:
with open(exmp2, 'w') as writefile:
    writefile.write("colombia\n")
    writefile.write("mexico\n")
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

colombia
mexico

In [10]:
Lines = ["colombia\n", "mexico\n", "panama\n"]
Lines
with open('example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

colombia

mexico

panama

In [16]:
with open('example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [17]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 0
Read nothing

New Location : 0
Read nothing
Location after read: 0

In [19]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) 
   
    testwritefile.write("paso 1" + "\n")
    testwritefile.write("paso" + "\n")
    testwritefile.write("paso 3" + "\n")
    testwritefile.write("finished\n")
    testwritefile.seek(0,0)
    print(testwritefile.read())

paso 1
paso
paso 3
finished
d

In [21]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

paso 1
paso
paso 3
finished
d

In [31]:

import pandas as pd

df = pd.read_csv("TopSellingAlbums.csv")

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [39]:

import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head()

x = df[['latitude']]
x

       latitude
0         34.19
1         34.40
2         33.69
3         33.64
4         33.57
...         ...
16995     40.58
16996     40.69
16997     41.84
16998     41.80
16999     40.54

[17000 rows x 1 columns]

In [41]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head()

x = df[['latitude',"longitude", "population"]]
x

       latitude  longitude  population
0         34.19    -114.31      1015.0
1         34.40    -114.47      1129.0
2         33.69    -114.56       333.0
3         33.64    -114.57       515.0
4         33.57    -114.57       624.0
...         ...        ...         ...
16995     40.58    -124.26       907.0
16996     40.69    -124.27      1194.0
16997     41.84    -124.30      1244.0
16998     41.80    -124.30      1298.0
16999     40.54    -124.35       806.0

[17000 rows x 3 columns]

In [44]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head()
df.loc[1, 'longitude']
df.loc[4, 'latitude']

33.57

In [45]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head()
df.iloc[0:2, 0:3]

   longitude  latitude  housing_median_age
0    -114.31     34.19                15.0
1    -114.47     34.40                19.0

In [46]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head()
df.loc[0:2, 'longitude':'latitude']

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69